/* Landing Page */
.title1 {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 48.83px;
	line-height: 170.68%;
	text-align: center;
	color: #5C5B5C;
}
#section2{
    padding-top: 41px;
    height: 572px;
}
.section2-icons{
    margin-top: 60px;
}
.section2-icon{
    border: 3px solid #CBCBCB;
    border-radius: 16px;
    text-align: center;
    transition: .3s ease-in-out;
    box-sizing: border-box;
    width: 211px;
    margin: auto;
}
.section2-icon:hover {
 width: 244px;
height: 244px;
margin-top: -15.5px;
margin-bottom: 5px;
/* margin-left: -15.5px; */
/* filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.25)); */
box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
}
.section2-text{
    font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 31.25px;
line-height: 170.68%;
margin-top: 5px;
text-align: center;
color: #5C5B5C;
}
/*Section3*/
#section3 img{
    width: 100%;
}
.section3-img{
    
    width: 100%;
    height: 414px;
}
.section3-title{
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 28.13px;
line-height: 170.68%;
/* or 48px */


color: #5C5B5C;
}
.section3-content{
    font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 170.68%;
/* or 31px */
margin-bottom: 35px;

color: #5C5B5C;
}

/* About Us */

.about-bg {
	position: relative;
	overflow: hidden;
}

.main-bg {
	position: absolute;
	right: 0;
	z-index: -1;
}

.img-overlay {
	z-index: 50;
    width: 100%;
    height: 509px;
}

.about-text {
	width: 40%;
	position: absolute;
	top: 116px;
}

.about-text h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 71px;
	line-height: 121.18%;
	margin-bottom: 17px;
	color: #FFFFFF;
}

.about-text p {
	font-family: 'Cabin', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 113.68%;
	color: #FFFFFF;
}

#what-we-do {
	margin-top: 150px;
}

.line {
	height: 3px;
	background-color: #F1C214;
	width: 180px;
}

.p-relative {
	position: relative;
}
.image img{
    width: 100%;
}

.overlay-left {
	position: absolute;
	top: -20px;
	z-index: -1;
	left: -20px;
}

#what-we-do .title2 {
	margin-top: 24px;
	margin-bottom: 40px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 121.18%;
	color: #605F5F;
}

.content1 {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 170.68%;
	width: 94%;
	color: #5C5B5C;
}

